body{
  font-family: 'Pacifico', cursive;
}

img{
  display: none;
}

#header{
  text-align: center;
  margin: 15px;
}

.tile {
  height: 110px;
  background-color: LightSteelBlue;
  border: 1px solid black;
  text-align: center;
  padding-top: 5px;
}

.reveal{
  display: inline-block;
}
